In [2]:
import pandas as pd
import numpy as np
import sklearn.metrics as met
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
import matplotlib.pyplot as plt
import math
from sklearn.metrics import r2_score

In [53]:
data=pd.read_csv('CarPrice_Assignment.csv')

In [54]:
Label=data['price']

In [55]:
data=data.drop(['car_ID','price'],axis=1)

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         205 non-null    int64
 1   CarName           205 non-null    object
 2   fueltype          205 non-null    object
 3   aspiration        205 non-null    object
 4   doornumber        205 non-null    object
 5   carbody           205 non-null    object
 6   drivewheel        205 non-null    object
 7   enginelocation    205 non-null    object
 8   wheelbase         205 non-null    float64
 9   carlength         205 non-null    float64
 10  carwidth          205 non-null    float64
 11  carheight         205 non-null    float64
 12  curbweight        205 non-null    int64
 13  enginetype        205 non-null    object
 14  cylindernumber    205 non-null    object
 15  enginesize        205 non-null    int64
 16  fuelsystem        205 non-null    object
 17  boreratio         205 non-null    float64
 18  stroke            205 non-null    float64
 19  compressionratio  205 non-null    float64
 20  horsepower        205 non-null    int64
 21  peakrpm           205 non-null    int64
 22  citympg           205 non-null    int64
 23  highwaympg        205 non-null    int64
dtypes: float64(7), int64(7), object(10)
memory usage: 38.6+ KB

In [70]:
data.enginetype.value_counts()

ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: enginetype, dtype: int64

In [73]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         205 non-null    int64
 1   fueltype          205 non-null    int64
 2   aspiration        205 non-null    int64
 3   doornumber        205 non-null    int64
 4   carbody           205 non-null    int64
 5   drivewheel        205 non-null    int64
 6   enginelocation    205 non-null    int64
 7   wheelbase         205 non-null    float64
 8   carlength         205 non-null    float64
 9   carwidth          205 non-null    float64
 10  carheight         205 non-null    float64
 11  curbweight        205 non-null    int64
 12  enginetype        205 non-null    int64
 13  cylindernumber    205 non-null    int64
 14  enginesize        205 non-null    int64
 15  fuelsystem        205 non-null    int64
 16  boreratio         205 non-null    float64
 17  stroke            205 non-null    float64
 18  compressionratio  205 non-null    float64
 19  horsepower        205 non-null    int64
 20  peakrpm           205 non-null    int64
 21  citympg           205 non-null    int64
 22  highwaympg        205 non-null    int64
dtypes: float64(7), int64(16)
memory usage: 37.0 KB

In [58]:
data.head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
0,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27
1,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27
2,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26
3,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30
4,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22

In [59]:
data.fueltype=data.fueltype.apply(['gas','diesel'].index)

In [60]:
data.aspiration=data.aspiration.apply(['std','turbo'].index)

In [61]:
data.doornumber=data.doornumber.apply(['four','two'].index)

In [62]:
data.carbody=data.carbody.apply(['sedan','hatchback','wagon','hardtop','convertible'].index)

In [63]:
data.drivewheel=data.drivewheel.apply(['fwd','rwd','4wd'].index)

In [64]:
data.enginelocation=data.enginelocation.apply(['front','rear'].index)

In [65]:
data=data.drop('CarName',axis=1)

In [66]:
data.fuelsystem=data.fuelsystem.apply(['mpfi','2bbl','idi','1bbl','spdi','4bbl','spfi','mfi'].index)

In [67]:
data.cylindernumber=data.cylindernumber.apply(['four','six','five','eight','two','twelve','three'].index)

In [72]:
data.enginetype=data.enginetype.apply(['ohc','ohcf','ohcv','dohc','l','rotor','dohcv'].index)

In [75]:
x_train,x_test,y_train,y_test=train_test_split(data,Label,test_size=0.3,random_state=1)

In [77]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(143, 23)
(143,)
(62, 23)
(62,)

In [81]:
model=Lasso(alpha=0.1,normalize=True)

In [82]:
model.fit(x_train,y_train)

Lasso(alpha=0.1, normalize=True)

In [84]:
model.coef_

array([ 7.40578119e+02,  1.53239845e+04, -4.29058903e+02, -1.09798968e+03,
        1.07840243e+01,  1.07191238e+03,  1.18011405e+04,  2.93151215e+02,
       -9.95315224e+01,  5.52036106e+02,  7.34753268e+01,  2.36608700e+00,
       -6.75833994e+02,  1.52285021e+03,  9.01269079e+01, -2.05101842e+02,
       -7.23689325e+02, -2.71815483e+03, -9.24192410e+02,  2.34759203e+01,
        1.98199542e+00, -5.73759474e+01,  1.26116977e+02])

In [85]:
pre=model.predict(x_test)

In [91]:
met.mean_absolute_error(y_test,pre)

1982.2271969831513

In [98]:
math.sqrt(met.mean_squared_error(y_test,pre))

3027.4935791711578

In [108]:
print(int(r2_score(y_test,pre)*100),'%')

84 %